<div class="panel panel-default project">

  <div class="panel-heading">
    <h3 class="panel-title">{{project.code}}</h3>
  </div>

  <div class="panel-body">
    <p>{{project.title}}</p>
    {{debugger}}
    <p>aa{{project.collectiveDecisionId}}</p>
    <p>hhh{{ project.getCD }}</p>
  </div>

  <div class="panel-footer text-right">
    {{yield}}
  </div>

</div>
