<div class="panel panel-default project">

  <div class="panel-heading">
    <h3 class="panel-title">{{item.code}}</h3>
  </div>

  {{#each item.collectiveDecision as |cd|}}
  <div class="panel-body">
    <p>{{item.title}}</p>
    <p>{{item.collectiveDecisionId}}</p>
    <p>{{cd}}</p>
  </div>
  {{/each}}
  <div class="panel-footer text-right">
    {{yield}}
  </div>

</div>
