<div class="form-horizontal">

  <div class="form-group">
    <label class="col-sm-2 control-label">code</label>
    <div class="col-sm-10">{{input type="text" value=f_CollectiveDecision.code class="form-control" placeholder="The serial code of the collective decision"}} </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">description</label>
    <div class="col-sm-10">{{input type="text" value=f_CollectiveDecision.description class="form-control" placeholder="A short description of the collective decision"}}   </div>
  </div>

  {{#each f_CollectiveDecision.projects as |child_Project|}}
    <div class="form-group">
      <label class="col-sm-2 control-label">project code</label>
        <div class="col-sm-10">{{input type="text" value=child_Project.code class="form-control" placeholder="the child project code"}}        </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">project title</label>
      <div class="col-sm-10">{{input type="text" value=child_Project.title class="form-control" placeholder="the child project title"}} </div>
    </div>
  {{/each}}

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-default" {{action 'addProject' f_CollectiveDecision}} disabled="{{unless f_CollectiveDecision.isValid 'disabled'}}">Add project</button>
      <button type="submit" class="btn btn-default" {{action 'createCollectiveDecision' f_CollectiveDecision}} disabled="{{unless f_CollectiveDecision.isValid 'disabled'}}">{{buttonLabel}}</button>
    </div>
  </div>

</div>
